*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  background: #DCF2DE;
  font-family: 'Amiko', sans-serif;
}

.visible{
  visibility: visible !important;
  animation-duration: 1s;
}